/website/[Mm]edia
/website/App_Data
/website/data
/website/install
/website/umbraco
/website/umbraco_client
/website/default.aspx
/website/Volotea.Web/aspnet_client
/website/_ReSharper.travel/*
/website/obj/
/website/Debug/
website/bin/*.pdb
website/obj/Debug/*.dll
website/bin/*.pdb
backupCode/*
website/obj/*
