@using umbraco.MacroEngines
<script src="/scripts/home.js" type="text/javascript"> </script>
<script src="/scripts/nivo-slider/jquery.nivo.slider.js" type="text/javascript"> </script>
<div class="banner">
    <div class="container">
        <div id="carousel-banner" class="carousel slide">
            <span class="tagline">
                @Html.Raw(Dictionary.CarrouselCentralText)</span>
            <div class="carousel-inner">
                <div class="item active">
                    @{
                        DynamicNode currentNode = new DynamicNode(CurrentModel.Id);
                        foreach (dynamic imageNode in currentNode.Descendants("Carrousel"))
                        {
                            string alt = !string.IsNullOrEmpty(imageNode.name) ? @imageNode.name : string.Empty;
                        <a>
                            <img src="@imageNode.image.mediaItem[0].Image.umbracoFile" alt="@alt" /></a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
