@using umbraco.MacroEngines
@inherits umbraco.MacroEngines.DynamicNodeContext
<div class="col-sm-3">
    @{
        string UrlCurrentProfile = CurrentModel.Url;
        foreach (DynamicNode profile in CurrentModel.AncestorOrSelf("Page").Descendants("Profile").Items.Where(x => x.Url != UrlCurrentProfile))
        {
            dynamic imageProfile = profile;
        <div class="profileBlock">
            <div class="avatar">
                @{
            try
            {
                    <img src="@imageProfile.profileImage.mediaItem[0].Image.umbracoFile" height="100" width="90" />
            }
            catch (Exception)
            {
                //Show default image
                    <img src="/img/defaultImage.jpg" alt="" height="100" width="90" />
            }
                }
            </div>
            <div class="txt">
                <h3>
                    <a href="@profile.Url">@profile.GetProperty("Name")</a>
                </h3>
            </div>
        </div>
        }
    }
</div>
