@using umbraco.MacroEngines
<div class="wrap">
    <div class="container">
        <div class="row page">
            @{
                DynamicNode nodeToRender = CurrentModel.NodeTypeAlias=="Page" ? CurrentModel : CurrentModel.AncestorOrSelf("Page");
                <h2>@nodeToRender.GetProperty("title")</h2>
                <p>@nodeToRender.GetProperty("text")</p>
            }
        </div>
    </div>
</div>
