@using umbraco.MacroEngines
<div class="wrap">
    <div class="container">
        <div class="row">
            @{
                <h2>@CurrentModel.GetProperty("title")</h2>
                <p>@CurrentModel.GetProperty("text")</p>
            }
        </div>
    </div>
</div>
