/**** Isotope filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
    
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
        -o-transition-property:      -o-transform, opacity;
            transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
            transition-duration: 0s;
}
    
    
/******* style box products **************/
div#container-products 
{
    display: none;
}

div#container-products > div 
{
    min-width: 100px;
    width: 22%;
    float: left;
    margin: 1em 1em;
    padding: 0 1em;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}
    
#container-description-products > div 
{
    display: none;
}

div#container-categories {
    text-align: center;
    vertical-align: middle;
}

div#container-categories > div {
    display: inline-block;
    margin: 1em 1em;
    padding: 0 1em;
    height: 100px;
    background: #666666;
    color: #FFFFFF;
    max-width: 100px;
    
    -webkit-transition: -webkit-box-shadow 0.5s ease-out;;
    -moz-transition: -moz-box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
    
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

div#container-categories > div:hover, .active_subcategory {
    -moz-box-shadow: 0px 0px 20px #666666;
  	-webkit-box-shadow: 0px 0px 20px #666666;
  	box-shadow: 0px 0px 20px #666666;
  	background: #2599A8 !important;
}

div#container-categories > div > p 
{
    margin: 2px 0;
}

/********** effects ***************/

div#container-products > div {
	-webkit-box-shadow:0 0 10px #333;
	-moz-box-shadow:0 0 10px #333;
	-ms-box-shadow:0 0 10px #333;
	-o-box-shadow:0 0 10px #333;
}

div#container-products > div img {
	-webkit-transition:all .7s ease-out;
	-moz-transition:all .7s ease-out;
	-ms-transition:all .7s ease-out;
	-o-transition:all .7s ease-out;
}

div#container-products > div:hover img {
	-webkit-transform:scale(6);
	-moz-transform:scale(6);
	-ms-transform:scale(6);
	-o-transform:scale(6);
	opacity:0;
}

div#container-products > div h2 {
	font-size:1em;
	color:#fff;
	line-height:1.5em;
	letter-spacing:.1em;
	text-align:center;
	text-transform:uppercase;
	-webkit-transition:all .5s ease-in;
	-webkit-transform:scale(1);
	-moz-transition:all .5s ease-in;
	-moz-transform:scale(1);
	-ms-transition:all .5s ease-in;
	-ms-transform:scale(1);
	-o-transition:all .5s ease-in;
	-o-transform:scale(1);
	opacity:1;
	margin:0;
	padding:0;
	position: relative;
	top: 3.5em;
}

div#container-products > div:hover h2 {
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-ms-transform:scale(2);
	-o-transform:scale(2);
	opacity:1;
	top: -4em;
}


div#container-products > div p {
	color: #fff;
	font-family:helvetica, arial, sans-serif;
	text-transform:uppercase;
	font-size:1.1em;
	text-align:center;
	text-tranform:uppercase;
	-webkit-transition:all .6s ease-in;
	-webkit-transform:scale(0.1);
	-moz-transition:all .6s ease-in;
	-moz-transform:scale(0.1);
	-ms-transition:all .6s ease-in;
	-ms-transform:scale(0.1);
	-o-transition:all .6s ease-in;
	-o-transform:scale(0.1);
	opacity:0;
	margin:0;
	padding:20px;
	position: relative;
    bottom: 3em;
}

div#container-products > div:hover p {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	opacity:1;
}